$cl_bright: #DFDFDF;
$cl_dark: #333;
body {
    color: $cl_bright;
    padding-top: 20px;
    .header {
        .icon {
            width: 35px;
            display: block;
            margin: 0 auto;
        }
        .title {
            text-align: center;
        }
    }
    .game {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: block;
        color: $cl_dark;
        padding-bottom: 100px;
        .description {
            color: $cl_bright;
            width: 95%;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        .score {
            color: $cl_bright;
            text-align: center;
            margin-left: 90%;
            .animation {
                font-size: 36px;
                line-height: 1;
                padding-bottom: 5px;
            }
        }
        .wrap_container {
            max-width: 1000px;
            border-radius: 5px;
            border: 1px solid #262626;
            height: 400px;
            background: #ddd;
            -webkit-box-shadow: 5px 6px 5px -5px rgba(0, 0, 0, 0.68);
            -moz-box-shadow: 5px 6px 5px -5px rgba(0, 0, 0, 0.68);
            box-shadow: 5px 6px 5px -5px rgba(0, 0, 0, 0.68);
            .sub_container {
                display: inline-block;
                height: 100%;
                vertical-align: top;
                .title {
                    display: block;
                }
                &.first {
                    
                    background: $cl_dark;
                    color: $cl_bright;
                    width: 40%;
                    .title {
                        padding-left: 5%;
                        padding-bottom: 20px;
                    }
                    .album {
                        padding-left: 5%;
                        background: $cl_bright;
                        color: $cl_dark;
                        padding: 10px;
                        width: 90%;
                        margin: (10px 0 0 10px);
                        border-radius: 2px;
                    }
                }
                &.second {
                    margin-left: 4%;
                    width: 50%;
                    .title {}
                    .form {
                        .answer {
                            .form-control {
                                width: 95%;
                                max-width: 350px;
                                margin-bottom: 10px;
                            }
                        }
                        .button {
                            padding: 10px 20px;
                            background: $cl_dark;
                            color: $cl_bright;
                            outline: none;
                            border-radius: 2px;
                            border: none;
                            transition: background 0.2s;
                            &:hover {
                                background: lighten($cl_dark, $amount: 15%);
                            }
                        }
                    }
                    .hint {
                        margin-top: 20px;
                        .text {
                            margin-bottom: 0;
                        }
                    }
                    .results {
                        background: $cl_dark;
                        color: $cl_bright;
                        padding: 20px;
                        margin-top: 10px;
                        .title {
                            margin-top: 0;
                        }
                        .button {
                            padding: 10px 20px;
                            background: $cl_bright;
                            color: $cl_dark;
                            outline: none;
                            border-radius: 2px;
                            border: none;
                            transition: background 0.2s;
                            &:hover {
                                background: darken($cl_bright, $amount: 15%);
                            }
                        }
                    }
                }
                .album {}
            }
        }
        .score {}
    }
    @media (max-width: 600px) {
        .game {
            width: 97%;
            .description {
                font-size: 13px;
                line-height: 17px;
            }
            .score {
                margin: 0 auto;
            }
            .wrap_container {
                height: auto;
                .sub_container {
                    &.first {
                        display: block;
                        width: 100%;
                        margin-left: 0;
                        padding: 10px;
                        margin-left: 0;
                        .title {
                            margin-top: 10px;
                        }
                        .album {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                    &.second {
                        .title {
                            padding-left: 4%;
                        }
                        display: block;
                        width: 100%;
                        padding: 10px;
                        margin-left: 0;
                        .form {
                            margin-left: 10px;
                            .answer {
                                .form-control {
                                    width: 90%;
                                    max-width: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    font-family: 'Open Sans',
    sans-serif;
    background: transparent;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #9d34ad;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiM0ZTA5NzgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2VjNWZlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiM0ZTA5NzgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2VjNWZlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
    -webkit-gradient(radial, left top, 0, left top, 887, color-stop(0, rgb(78, 9, 120)), color-stop(1, rgb(236, 95, 225)));
    /* Android 2.3 */
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, rgb(78, 9, 120) 0%, rgb(236, 95, 225) 100%);
    /* IE10+ */
    background-image: radial-gradient(ellipse farthest-corner at left top, rgb(78, 9, 120) 0%, rgb(236, 95, 225) 100%);
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, rgb(78, 9, 120) 0%, rgb(236, 95, 225) 100%);
}